
body {
      background:url(/images/background.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position:center center;
}

.main-inner {
      opacity: 0.95;
}

.header-inner {
      opacity: 0.95;
}


